body {
  width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  background-color: #ffffff;
  background-position: top center;
}

a {
  text-decoration: none;
}

/*стили для header*/
.site-header {
  background-color: #f3f7f9;
}

.header {
  background-color: #293449;
  display: flex;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header-logo img {
  align-self: flex-start;
  width: 111px;
  padding-top: 13px;
  padding-right: 54px;
  padding-bottom: 16px;
  padding-left: 55px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: -5px;
  margin-left: 130px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.header-logo img:hover {
  background-color: #ca2c37;
}

.header-logo img:active {
  background-color: #ba2732;
}

/*верхняя линейка в header*/
.search-button {
  margin-top: 12px;
  margin-right: 15px;
  margin-bottom: 12px;
  margin-left: 17px;
  background-color: #293449;
  border: 0;
}

.header input[type="search"] {
  width: 197px;
  padding-top: 14px;
  padding-right: px;
  padding-bottom: 16px;
  font-family: "Cuprum";
  font-size: 17px;
  color: #ffffff;
  background-color: #293449;
  border: 0;
}

.header input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}

.header input[type="search"]:hover {
  background-color: #212a3a;
}

.header input[type="search"]:focus {
  color: #000000;
  background-color: #ffffff;
}

.header-favorites {
  padding-top: 14px;
  padding-right: 28px;
  padding-bottom: 13px;
  padding-left: 44px;
  color: #ffffff;
  background-color: #293449;
}

.header-favorites:hover {
  background-color: #212a3a;
}

.header-favorites:active {
  background-color: #161d29;
  opacity: 0.6;
  color: #ffffff;
}

.header-basket {
  padding-top: 14px;
  padding-right: 26px;
  padding-bottom: 13px;
  padding-left: 50px;
  margin-top: px;
  margin-right: px;
  margin-bottom: px;
  margin-left: px;
  color: #ffffff;
  background-color: #293449;
}

.header-basket:hover {
  background-color: #212a3a;
}

.header-basket:active {
  opacity: 0.6;
  color: #ffffff;
  background-color: #161d29;
}

.header-order {
  width: 108px;
  padding-top: 14px;
  padding-right: 22px;
  padding-bottom: 13px;
  padding-left: 20px;
  margin-top: 0;
  margin-right: 130px;
  margin-bottom: 0;
  margin-left: 0;
  color: #ffffff;
  background-color: #63a63e;
}

.header-order:hover {
  background-color: #5fbb2d;
}

.header-order:active {
  opacity: 0.5;
  color: #ffffff;
  background-color: #518534;
}

.site-header-main {
  display: flex;
  align-items: flex-start;
  background-color: #f4f7f9;
}

.main-desc {
  width: 196px;
  margin-top: 54px;
  margin-left: 183px;
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

.main-phone {
  width: 144px;
  padding-top: 13px;
  padding-right: 52px;
  padding-bottom: 11px;
  padding-left: 74px;
  margin-top: 54px;
  margin-left: 71px;
  margin-bottom: 0;
  color: #ee3643;
  border: 3px solid #ffffff;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.42px;
}

.main-address {
  margin-left: 81px;
  margin-top: 0;
  width: 250px;
  color: #32425c;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
}

.login-link {
  width: 46px;
  align-self: center;
  margin-top: 46px;
  margin-left: 69px;
  padding-top: 14px;
  padding-right: 27px;
  padding-bottom: 15px;
  padding-left: 48px;
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.login-link:hover {
  color: #ee3643;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.login-link:active {
  opacity: 0.3;
  color: #000000;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.registration {
  width: 100px;
  align-self: center;
  margin-top: 46px;
  margin-right: 130px;
  margin-left: 10px;
  padding-top: 14px;
  padding-right: 25px;
  padding-bottom: 11px;
  padding-left: 25px;
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.registration:hover {
  color: #ee3643;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.registration:active {
  opacity: 0.3;
  color: #000000;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

/*нижняя линейка в header*/
.site-navigation-wrapper {
  margin-left: 130px;
  width: 940px;
}

.site-navigation-list {
  list-style: none;
  display: flex;
  flex-basis: 940px;
  justify-content: space-between;
  background-color: #32425c;
}

.site-navigation-list a {
  color: #ffffff;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 #293449;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
}

.site-navigation-index {
  width: 52px;
  padding-top: 22px;
  padding-right: 34px;
  padding-bottom: 26px;
  padding-left: 52px;
}

.site-navigation-about-company {
  width: 65px;
  padding-top: 22px;
  padding-right: 31px;
  padding-bottom: 26px;
  padding-left: 31px;
}

.site-navigation-catalog {
  width: 52px;
  padding-top: 22px;
  padding-right: 30px;
  padding-bottom: 26px;
  padding-left: 30px;
}

.site-navigation-news {
  width: 52px;
  padding-top: 22px;
  padding-right: 30px;
  padding-bottom: 26px;
  padding-left: 30px;
}

.site-navigation-actions {
  width: 121px;
  padding-top: 22px;
  padding-right: 30px;
  padding-bottom: 26px;
  padding-left: 31px;
}

.site-navigation-delivery {
  width: 60px;
  padding-top: 22px;
  padding-right: 32px;
  padding-bottom: 26px;
  padding-left: 31px;
}

.site-navigation-contacts {
  width: 61px;
  padding-top: 22px;
  padding-right: 55px;
  padding-bottom: 26px;
  padding-left: 32px;
}

.site-navigation-list a:hover {
  background-color: #1d2739;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container-header {
  color: #000000;
  background-color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.container-about-technomart {
  width: 519px;
  margin-left: 130px;
}

.container-about-technomart p {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  width: 520px;
}

.transport-companies li {
  font-style: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.container-about-technomart .info {
  width: 139px;
  padding-top: 14px;
  padding-right: 40px;
  padding-bottom: 12px;
  padding-left: 41px;
  color: #ffffff;
  background-color: #ee3643;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-family: "Cuprum";
  text-transform: uppercase;
  border: 0;
}

.connect {
  color: #ffffff;
  padding-top: 14px;
  padding-right: 59px;
  padding-bottom: 12px;
  padding-left: 63px;
  background-color: #ee3643;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-family: "Cuprum";
  text-transform: uppercase;
  width: 300px;
  border: 0;
}

.container-map {
  width: 551px;
  margin-left: 121px;
}

.container-map-contacts {
  color: #000000;
  background-color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.container-map p {
  color: #000000;
  background-color: #ffffff;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  width: 180px;
}

.modal-connect {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.modal-connect label {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.modal-connect label {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.modal-connect input[type="text"]::-webkit-input-placeholder {
  color: #a9a9a9;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.send-message {
  color: #ffffff;
  background-color: #ee3643;
  border: 0;
}

/*верхняя линейка в footer*/
.wrap-footer-top {
  background-color: #32425c;
  display: flex;
}

.logo-in-footer img {
  width: 138px;
  align-self: center;
  padding-top: 20px;
  padding-right: 41px;
  padding-bottom: 25px;
  padding-left: 41px;
  margin-top: px;
  margin-right: px;
  margin-bottom: px;
  margin-left: 130px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.footer-site-navigation-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 42px;
  width: 650px;
}

.footer-site-navigation a {
  color: #f3f7f9;
  background-color: #32425c;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-site-navigation a:hover {
  text-decoration: underline;
}

.footer-site-navigation a:active {
  opacity: 0.5;
  color: #f1f5f7;
}

/*линейка в footer посередине*/
.site-footer-contacts {
  width: 322px;
  margin-left: 130px;
  color: #f3f7f9;
  background-color: #32425c;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.wrap-footer-middle {
  background-color: #32425c;
  display: flex;
}

.site-footer-product-types-list {
  display: flex;
  justify-content: space-between;
  width: 650px;
  list-style: none;
}

.site-footer-product-types-list a {
  color: #ffd180;
  background-color: #32425c;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.site-footer-product-types-list a:hover {
  text-decoration: underline;
}

.site-footer-product-types-list a:active {
  opacity: 0.5;
  color: #ffd180;
}

/*нижняя часть в footer*/
.wrap-footer-bottom {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background-color: #293449;
}

.copyright {
  width: 227px;
  margin-left: 130px;
  margin-top: 39px;
  margin-bottom: 35px;
  color: #ffffff;
  background-color: #293449;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.social-buttons-list {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
  margin-bottom: 35px;
  list-style: none;
}

.social-buttons-list a {
  background-color: #212a3a;
}

.social-buttons-list a:hover {
  background-color: #ee3643;
}

.social-buttons-list a:active {
  background-color: #ee3643;
}

.feedback {
  width: 135px;
  margin-top: 40px;
  color: #ffffff;
  background-color: #293449;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.feedback-email {
  color: #ffd180;
  background-color: #293449;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.developer {
  width: 96px;
  margin-top: 39px;
  color: #ffffff;
  background-color: #293449;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.developer-name {
  color: #ffd180;
  background-color: #293449;
}

.feedback-email:hover {
  text-decoration: underline;
}

.feedback-email:active {
  color: #ee3643;
}

.developer-name:hover {
  text-decoration: underline;
}

.developer-name:active {
  color: #ee3643;
}

/*стили для страницы catalog*/
.wrap-to-user-info {
  margin: auto;
}

.user-info {
  background-color: #ffffff;
}

.user-icon {
  background-color: #ffffff;
  border: 0;
}

.login {
  color: #000000;
  background-color: #ffffff;
  border: 0;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.login:active {
  opacity: 0.3;
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.wrap-to-my-orders-and-account {
  width: 210px;
  margin-top: 10px;
  background-color: #f2f6f8;
}

.wrap-to-my-orders-and-account:hover {
  background-color: #ffffff;
}

.my-orders {
  width: 90px;
  padding-left: 17px;
  color: #32425c;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
}

.my-orders:hover {
  background-color: #ffffff;
  color: #ee3643;
  text-decoration: underline;
}

.my-orders:active {
  opacity: 0.3;
  color: #32425c;
  font-size: 16px;
  text-decoration: underline;
}

.dote {
  margin-top: 4px;
  margin-bottom: 4px;
}

.account {
  width: 116px;
  margin-right: 0;
  color: #32425c;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
}

.account:hover {
  color: #ee3643;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
}

.account:active {
  opacity: 0.3;
  color: #32425c;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
}

.page {
  width: 940px;
  margin-left: 130px;
  color: #000000;
  background-color: #ffffff;
}

.breadcrumbs a {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs {
  display: flex;
  margin: auto;
}

.breadcrumbs li {
  margin: 25px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs a:nth-of-type(1) {
  width: 53px;
}

.breadcrumbs a:nth-of-type(2) {
  width: 79px;
}

.breadcrumbs a:nth-of-type(3) {
  width: 89px;
}

.page-title {
  width: 168px;
  padding-top: 32px;
  padding-right: 742px;
  padding-left: 30px;
  padding-bottom: 34px;
  background-color: #f3f7f8;
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.wrap-to-filter-and-catalog {
  display: flex;
  justify-content: space-around;
}

.filter {
  width: 220px;
}

.producers legend {
  margin-top: 25px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.producers {
  border: 0;
  color: #000000;
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.kind-of-power legend {
  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.17px;
  text-transform: uppercase;
}

.kind-of-power {
  border: 0;
  color: #000000;
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.show {
  width: 62px;
  padding-top: 15px;
  padding-right: 39px;
  padding-bottom: 14px;
  padding-left: 39px;
  margin-top:
    color: #000000;
  background-color: #ffffff;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  border: 1px solid #e5e5e5;
}

/*для карточек каталога*/
.catalog {
  width: 700px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  list-style: none;
}

.card-header {
  width: 155px;
  text-align: center;
  color: #000000;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.wrap-to-card-item {
  width: 218px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.old-price {
  width: 67px;
  margin-left: 78px;
  margin-top: 18px;
  color: #999999;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
}

.relevant-price {
  margin-left: 79px;
  margin-top: 26px;
  color: #ffffff;
  background-color: #ee3643;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.card-button-buy {
  margin-left: 78px;
  margin-top: 18px;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
  border: 0;
}

.card-button-buy:hover {
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #5fbb2d;
}

.card-button-buy:active {
  background-color: #518534;
}

.card-button-add {
  color: #32425c;
  background-color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: 3px solid #63a63e;
}

.card-button-add:hover {
  border: 3px solid #32425c;
}

.card-button-add:active {
  opacity: 0.3;
  color: #32425c;
  border: 3px solid #32425c;
  opacity: 0.3;
}

.modal-basket-confirmation {
  color: #000000;
  background-color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

.modal-buttons-wrap {
  background-color: #f1f1f1;
}

.modal-buttons-wrap a {
  color: #ffffff;
  background-color: #ee3643;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.modal-buttons-wrap button {
  color: #000000;
  background-color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: 0;
}
