body {
  width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  background-color: #ffffff;
  background-position: top center;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../css/fonts/Cuprum-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../css/fonts/Cuprum-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../css/fonts/PT_Sans-Web-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../css/fonts/PT_Sans-Web-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/*стили для header*/
.wrap-to-site-header-main {
  background-color: #f4f7f9;
}

.site-header {
  margin: 0;
  background-color: #f3f7f9;
}

.header {
  margin: 0;
  background-color: #293449;
}

.wrap-to-header {
  display: flex;
  margin-left: 130px;
  max-height: 42px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-logo img {
  width: 111px;
  position: relative;
  padding-top: 13px;
  padding-right: 54px;
  padding-bottom: 11px;
  padding-left: 55px;
  box-shadow: 0 5px 0 rgba(186, 39, 50, 1);
  background-color: #ee3643;
}

.header-logo img:hover {
  background-color: #ca2c37;
}

.header-logo img:active {
  background-color: #ba2732;
}

.search-form {
  width: 270px;
  position: relative;
  min-height: 42px;
  margin: 0;
  background-color: #293449;
  border: 0;
}

.header input[type="search"] {
  width: 100%;
  min-height: 42px;
  display: inline-block;
  margin: 0;
  padding-left: 49px;
  background-color: #293449;
  border: 0;
}

.search-button {
  min-height: 42px;
  width: 49px;
  position: absolute;
  background-color: transparent;
  border: 0;
}

.header input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}

.header input[type="search"]:hover {
  background-color: #212a3a;
}

.header input[type="search"]:focus {
  color: #000000;
  background-color: #ffffff;
}

.header-favorites {
  position: relative;
  width: 78px;
  margin: 0;
  padding-top: 14px;
  padding-right: 28px;
  padding-bottom: 13px;
  padding-left: 44px;
  color: #ffffff;
  background-color: #293449;
  text-decoration: none;
}

.header-favorites::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #293449;
}

.header-favorites:hover {
  background-color: #212a3a;
}

.header-favorites:active {
  background-color: #161d29;
  opacity: 0.6;
  color: #ffffff;
}

.header-basket {
  position: relative;
  width: 69px;
  margin: 0;
  padding-top: 14px;
  padding-right: 31px;
  padding-bottom: 13px;
  padding-left: 50px;
  color: #ffffff;
  background-color: #293449;
  text-decoration: none;
}

.header-basket::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #293449;
}

.header-basket:hover {
  background-color: #212a3a;
}

.header-basket:active {
  opacity: 0.6;
  color: #ffffff;
  background-color: #161d29;
}

.header-order {
  width: 108px;
  margin: 0;
  padding-top: 14px;
  padding-right: 22px;
  padding-bottom: 13px;
  padding-left: 20px;
  color: #ffffff;
  background-color: #63a63e;
  text-decoration: none;
}

.header-order:hover {
  background-color: #5fbb2d;
}

.header-order:active {
  opacity: 0.5;
  color: #ffffff;
  background-color: #518534;
}

.site-header-main {
  display: flex;
  margin: auto;
  width: 940px;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f7f9;
}

.main-desc {
  width: 196px;
  margin-left: 53px;
  margin-top: 46px;
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

.wrap-for-main-phone-address {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.main-phone {
  position: relative;
  width: 144px;
  margin: auto;
  padding-top: 13px;
  padding-right: 52px;
  padding-bottom: 11px;
  padding-left: 74px;
  color: #ee3643;
  border: 3px solid #ffffff;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.42px;
}

.main-phone::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 15px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-address {
  width: 250px;
  margin: auto;
  text-align: center;
  color: #32425c;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
}

.wrap-for-links {
  display: flex;
  width: 281px;
  justify-content: space-between;
  align-self: center;
}

.login-link {
  position: relative;
  width: 46px;
  vertical-align: middle;
  padding-top: 14px;
  padding-right: 27px;
  padding-bottom: 15px;
  padding-left: 48px;
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
}

.login-link::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link:hover {
  color: #ee3643;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.login-link:active {
  opacity: 0.3;
  color: #000000;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.registration {
  width: 100px;
  vertical-align: middle;
  padding-top: 14px;
  padding-right: 25px;
  padding-bottom: 11px;
  padding-left: 25px;
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
}

.registration:hover {
  color: #ee3643;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.registration:active {
  opacity: 0.3;
  color: #000000;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

/*нижняя линейка в header*/
.site-navigation {
  width: 940px;
  margin: 0 auto;
  box-shadow: inset 0 -5px 0 #293449;
}

.site-navigation-list {
  display: flex;
  flex-basis: 940px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #32425c;
}

.site-navigation-list .site-navigation-index {
  padding-left: 52px;
}

.site-navigation-list .site-navigation-contacts {
  padding-right: 55px;
}

.site-navigation-list a {
  display: inline-block;
  align-content: center;
  vertical-align: middle;
  padding-top: 22px;
  padding-right: 31px;
  padding-bottom: 26px;
  padding-left: 30px;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 #293449;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}

.site-navigation-list a:hover {
  background-color: #1d2739;
}

.container {
  display: flex;
  width: 940px;
  margin: 82px auto 86px;
  justify-content: space-between;
}

.container-header {
  color: #000000;
  background-color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.container-about-technomart {
  width: 519px;
  margin: 0;
}

.container-about-technomart p {
  padding-bottom: 10px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.transport-companies {
  margin-bottom: 37px;
}

.transport-companies li {
  position: relative;
  margin-bottom: 20px;
  font-style: "Cuprum";
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  list-style: none;
}

.transport-companies li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -40px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.container-about-technomart .info {
  display: block;
  box-sizing: border-box;
  width: 220px;
  max-height: 38px;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 12px;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-family: "Cuprum";
  text-transform: uppercase;
  border: 0;
  border-radius: 1px;
  text-decoration: none;
}

.connect {
  display: block;
  box-sizing: border-box;
  width: 300px;
  max-height: 38px;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 12px;
  color: #ffffff;
  background-color: #ee3643;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-family: "Cuprum";
  text-transform: uppercase;
  border: 0;
  border-radius: 2px;
}

.container-map {
  width: 300px;
}

.container-map p {
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  width: 180px;
}

.container-map p:last-of-type {
  padding-bottom: 30px;
}

.container-map-contacts {
  color: #000000;
  background-color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.map-address {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
  border: 0;
}

.modal {
  display: none;
  position: fixed;
  margin: 0 auto;
}

.modal-map {
  width: 940px;
  height: 446px;
  top: 25px;
  left: 130px;
  background-image: url("../img/Слой_4.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.modal-map .close-mw {
  position: absolute;
  top: 9px;
  left: 910px;
  background-color: transparent;
  border: 0;
}

.modal-connect {
  position: fixed;
  width: 620px;
  height: 430px;
  margin: auto;
  top: 16px;
  left: 290px;
  background-color: #ffffff;
  box-shadow:
    0 20px 40px rgba(41, 52, 73, 0.75),
    inset 0 5px 0 rgba(238, 54, 67, 1);
}

.wrap-to-data {
  display: flex;
  width: 460px;
  justify-content: space-between;
  margin: auto;
  margin-top: 55px;
}

.modal-form p {
  display: block;
  width: 220px;
  margin: 0;
}

.wrap-to-data input[type="text"] {
  width: 220px;
  min-height: 38px;
  margin: 0;
}

.modal-form .message {
  width: 460px;
  margin: auto;
}

.modal-connect label {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.message textarea {
  width: 460px;
}

.modal-connect input[type="text"]::-webkit-input-placeholder,
.message textarea::-webkit-input-placeholder {
  color: #a9a9a9;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.wrap-to-send-message {
  width: 460px;
  min-height: 112px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: #f4f4f4;
}

.send-message {
  display: block;
  width: 460px;
  height: 38px;
  vertical-align: middle;
  color: #ffffff;
  background-color: #ee3643;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-family: "Cuprum";
  text-transform: uppercase;
  border: 0;
  border-radius: 2px;
}

.modal-connect .close-mw {
  position: absolute;
  top: 9px;
  left: 590px;
  background-color: transparent;
  border: 0;
}

/*верхняя линейка в footer*/
.background-for-footer-top-middle {
  background-color: #32425c;
}

.wrap-footer-top {
  width: 940px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  background-color: #32425c;
}

.logo-in-footer img {
  width: 138px;
  min-height: 23px;
  margin: 0;
  padding-top: 20px;
  padding-right: 41px;
  padding-bottom: 25px;
  padding-left: 41px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.footer-site-navigation-list {
  width: 547px;
  margin-top: 42px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: #32425c;
}

.footer-site-navigation a {
  color: #f3f7f9;
  background-color: #32425c;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-site-navigation a:hover {
  text-decoration: underline;
}

.footer-site-navigation a:active {
  opacity: 0.5;
  color: #f1f5f7;
}

/*линейка в footer посередине*/
.wrap-footer-middle {
  width: 940px;
  margin: auto;
  background-color: #32425c;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer-contacts {
  width: 322px;
  color: #f3f7f9;
  background-color: #32425c;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.site-footer-product-types-list {
  width: 527px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.site-footer-product-types-list a {
  margin: auto;
  color: #ffd180;
  background-color: #32425c;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.site-footer-product-types-list a:hover {
  text-decoration: underline;
}

.site-footer-product-types-list a:active {
  opacity: 0.5;
  color: #ffd180;
}

/*нижняя часть в footer*/
.background-for-footer-bottom {
  background-color: #293449;
}

.wrap-footer-bottom {
  display: flex;
  width: 940px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: #293449;
}

.copyright {
  width: 227px;
  margin: 0;
  color: #ffffff;
  background-color: #293449;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.social-buttons-list {
  display: flex;
  width: 132px;
  justify-content: space-between;
  margin: 0;
  list-style: none;
}

.social-button {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background-color: #293449;
}

.social-buttons-list a {
  margin: 0;
  background-color: #212a3a;
}

.social-buttons-list a:hover {
  background-color: #ee3643;
}

.social-buttons-list a:active {
  background-color: #ee3643;
}

.feedback {
  width: 135px;
  color: #ffffff;
  background-color: #293449;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.feedback-email {
  color: #ffd180;
  background-color: #293449;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.developer {
  width: 96px;
  display: block;
  padding-right: 15px;
  color: #ffffff;
  background-color: #293449;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.developer-name {
  color: #ffd180;
  background-color: #293449;
}

.feedback-email:hover {
  text-decoration: underline;
}

.feedback-email:active {
  color: #ee3643;
}

.developer-name:hover {
  text-decoration: underline;
}

.developer-name:active {
  color: #ee3643;
}

/*стили для страницы catalog*/
.wrap-to-user-info {
  width: 300px;
  min-height: 45px;
  margin: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}

.user-info {
  width: 300px;
  background-color: #ffffff;
}

.login {
  width: 183px;
  color: #000000;
  background-color: #ffffff;
  border: 0;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.login:active {
  opacity: 0.3;
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.wrap-to-my-orders-and-account {
  width: 210px;
  background-color: #f2f6f8;
}

.wrap-to-my-orders-and-account:hover {
  background-color: #ffffff;
}

.my-orders {
  width: 90px;
  padding-left: 17px;
  color: #32425c;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
}

.my-orders:hover {
  background-color: #ffffff;
  color: #ee3643;
  text-decoration: underline;
}

.my-orders:active {
  opacity: 0.3;
  color: #32425c;
  font-size: 16px;
  text-decoration: underline;
}

.dote {
  margin-top: 4px;
  margin-bottom: 4px;
}

.account {
  width: 116px;
  margin-right: 0;
  color: #32425c;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
}

.account:hover {
  color: #ee3643;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
}

.account:active {
  opacity: 0.3;
  color: #32425c;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
}

.page {
  width: 940px;
  margin-left: 130px;
  color: #000000;
  background-color: #ffffff;
}

.breadcrumbs a {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs {
  display: flex;
  margin: auto;
}

.breadcrumbs li {
  margin: 25px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs a:nth-of-type(1) {
  width: 53px;
}

.breadcrumbs a:nth-of-type(2) {
  width: 79px;
}

.breadcrumbs a:nth-of-type(3) {
  width: 89px;
}

.page-title {
  width: 168px;
  padding-top: 32px;
  padding-right: 742px;
  padding-left: 30px;
  padding-bottom: 34px;
  background-color: #f3f7f8;
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.wrap-to-filter-and-catalog {
  display: flex;
  justify-content: space-around;
}

.filter {
  width: 220px;
}

.producers legend {
  margin-top: 25px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.producers {
  border: 0;
  color: #000000;
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.producers-list {
  list-style: none;
}

.kind-of-power legend {
  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.17px;
  text-transform: uppercase;
}

.kind-of-power-list {
  list-style: none;
}

.kind-of-power {
  border: 0;
  color: #000000;
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.show {
  width: 62px;
  padding-top: 15px;
  padding-right: 39px;
  padding-bottom: 14px;
  padding-left: 39px;
  margin-top:
    color: #000000;
  background-color: #ffffff;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  border: 1px solid #e5e5e5;
}

/*для карточек каталога*/
.catalog {
  width: 700px;
  margin: 20px auto;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
}

.catalog-list li {
  margin: 0;
}

.card-header {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.wrap-to-card-item {
  width: 218px;
  position: relative;
  display: inline-block;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.wrap-to-card-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.wrap-to-card-item .flag-new {
  background: url("img/new-flag.png") no-repeat 0 0;
}

.actions-to-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.wrap-to-img-item {
  width: 218px;
  height: 168px;
}

.wrap-to-img-item img {
  max-width: 100%;
}

.old-price {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999999;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
}

.relevant-price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #ee3643;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.relevant-price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.card-button-buy,
.add-to-bookmarks {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.add-to-bookmarks {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.wrap-to-card-item .actions-to-item {
  display: none;
}

.wrap-to-card-item:hover .actions-to-item {
  display: block;
}

.card-button-buy:hover {
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #5fbb2d;
}

.card-button-buy:active {
  background-color: #518534;
}

.add-to-bookmarks:hover {
  border: 3px solid #32425c;
}

.add-to-bookmarks:active {
  opacity: 0.3;
  color: #32425c;
  border: 3px solid #32425c;
  opacity: 0.3;
}

.modal-basket-confirmation {
  position: fixed;
  width: 620px;
  margin: auto;
  top: 16px;
  left: 290px;
  color: #000000;
  background-color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  box-shadow:
    0 20px 40px rgba(41, 52, 73, 0.75),
    inset 0 5px 0 rgba(238, 54, 67, 1);
}

.modal-basket-confirmation p {
  width: 316px;
  margin: 0;
  min-height: 27px;
  padding: 75px 125px 70px 180px;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.modal-buttons-wrap {
  width: 620px;
  background-color: #f1f1f1;
}

.buttons-container {
  display: flex;
  width: 460px;
  min-height: 114px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.modal-buttons-wrap a {
  display: inline-block;
  box-sizing: border-box;
  width: 220px;
  min-height: 38px;
  margin: 0;
  text-align: center;
  padding-top: 12px;
  color: #ffffff;
  background-color: #ee3643;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2px;
}

.modal-buttons-wrap button {
  display: inline-block;
  box-sizing: border-box;
  width: 220px;
  min-height: 38px;
  margin: 0;
  color: #000000;
  background-color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: 0;
  border-radius: 2px;
}

.modal-basket-confirmation::after {
  content: "";
  position: absolute;
  top: 55px;
  left: 81px;
  width: 66px;
  height: 66px;
  background-image: url("../img/form-1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-basket-confirmation .close-mw {
  position: absolute;
  top: 16px;
  left: 590px;
  background-color: transparent;
  border: 0;
}
